<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941351203236-18t0ct5qthiao1deb5rb8bb0lkc86mt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941351203236-18t0ct5qthiao1deb5rb8bb0lkc86mt5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>941351203236-dp70p483qekkd4gu4nrpr1ps17fjuaju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAz4vRRzwYlrFr9MB28Z4xhx9KQk548m1M</string>
	<key>GCM_SENDER_ID</key>
	<string>941351203236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.temcashback</string>
	<key>PROJECT_ID</key>
	<string>temcashback-914bc</string>
	<key>STORAGE_BUCKET</key>
	<string>temcashback-914bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941351203236:ios:445bccb43c8a379f9e5131</string>
</dict>
</plist>